*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


::selection{
    background-color: #35354A;
    color: #FFF;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none !important;
}
ul{
    list-style-type: none !important;
}

h2{
    font-size: 34px;
    font-weight: bold;
}
img{
    max-width: 100%;
}

.pad-box{
    padding: 60px 0 0 20px;
}

.padding{
    padding: 20px 0 0 20px
}

body{
    color: #35354A
}

.bg-muted{
    background: #F7F7F7
}


@import "_header.scss";
@import "_footer.scss";



#project{
    position: relative;
    padding: 80px 0 60px;
    background: url(/assets/images/service/motherboard-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(bottom, rgba(53,53,74,0.5) 0%, rgba(53,53,74,0.7) 75%, rgba(53,53,74,0.9) 100%);
    }
    .title{
        position: relative;
    }
    .section-footer{
        position: absolute;
        bottom: 0;
        a{
            color: #FFF;
            font-size: 12px;
            font-weight: bold;
            transition: .3s ease-in-out;
            &:hover{
                color: #29ABE2;
            }
        }
        i{
            font-size: 12px;
            padding: 0 10px;
            color: #29ABE2;
        }
    }
}


#contentSection{
    padding: 80px 0 60px;
    .right{
        padding-top: 20px;
        p{
            color: #666;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .about{
            .title{
                display: inline-block;
                color: #999;
                font-size: 14px;
                padding-right: 10px;
                width: 120px;
            }
            .value{
                font-size: 14px;
                display: inline-block;
            }
        }
    }
    .what{
        h1{
            font-size: 34px;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            color: #666;
            margin-bottom: 20px;
        }
        .share{
            font-size: 14px;
            color: #666;
            font-weight: 600;
            i{
                padding-left: 10px;
                color: #29ABE2;
                transition: .3s ease-in-out;
                &:hover{
                    color: #35354A;
                }
            }
        }
    }
}


#latest{
    padding: 80px 0 60px;
    h1{
        text-align: center;
        font-size: 34px;
        margin-bottom: 30px;
    }
    .box{
        position: relative;
        overflow: hidden;
        &::before{
            position: absolute;
            content: '';
            height: 2px;
            top: 20px;
            left: 0;
            right: 100%;
            background: #29ABE2;
            z-index: 2;
            transition: .3s ease-in-out;
        }
        &::after{
            position: absolute;
            content: '';
            width: 2px;
            top: 0;
            bottom: 100%;
            left: 20px;
            background: #29ABE2;
            z-index: 2;
            transition: .3s ease-in-out;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000;
            opacity: 0;
            z-index: 1;
            transition: .3s ease-in-out;
        }
        .image{
            position: relative;
            img{
                width: 100%;
                transition: .3s ease-in-out;
            }
            .image-title{
                transition: .3s ease-in-out;
                opacity: 0;
                position: absolute;
                top: 40px;
                left: 40px;
                z-index: 2;
                h3{
                    font-size: 18px;
                    color: #FFF;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 14px;
                    color: #FFF;
                }
                
            }
            .link{
                transition: .3s ease-in-out;
                opacity: 0;
                position: absolute;
                bottom: 20px;
                right: 20px;
                z-index: 2;
                a{
                    font-weight: 700;
                    font-size: 18px;
                    color: #29ABE2;
                    transition: .3s ease-in-out;
                    &:hover{
                        text-decoration: underline !important;
                    }
                }
            }
        }
        &:hover{
            &::before{
                left: 10px;
                right: 20px;
            }
            &::after{
                top: 10px;
                bottom: 20px;
            }
            .overlay{
                opacity: 0.5;
            }
            .image{
                img{
                    transform: scale(1.2);
                }
                .image-title{
                    opacity: 1;
                }
                .link{
                    opacity: 1;
                }
            }
        }
    }
}





@media(min-width:768px){
    #project{
        padding: 100px 0 80px;
    }
    #contentSection{
        padding: 100px 0 80px;
        .right{
            padding-top: 0;
            padding-left: 60px;
        }
    }
    #latest{
        padding: 100px 0 80px;
        h1{
            margin-bottom: 50px;
        }
    }
}