* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-moz-selection {
  background-color: #35354A;
  color: #FFF;
}

::selection {
  background-color: #35354A;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
}

h2 {
  font-size: 34px;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.pad-box {
  padding: 60px 0 0 20px;
}

.padding {
  padding: 20px 0 0 20px;
}

body {
  color: #35354A;
}

.bg-muted {
  background: #F7F7F7;
}

header {
  display: none;
  position: relative;
  width: 100%;
  z-index: 999;
}

header .infobar {
  background-color: #35354A;
}

header .infobar .contact {
  font-size: 11px;
  line-height: 42px;
  color: #FFF;
}

header .infobar .social i {
  font-size: 15px;
  padding-left: 20px;
  color: #FFF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .infobar .social i:hover {
  color: #29ABE2;
}

header .menu {
  padding: 15px 0;
  background-color: #FFF;
}

header .menu .logo img {
  height: 40px;
}

header .menu .right {
  position: relative;
}

header .menu .right .menu-items {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

header .menu .right .menu-items .main-li {
  position: relative;
  margin: 0 20px;
}

header .menu .right .menu-items .main-li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

header .menu .right .menu-items .main-li .main-a {
  position: relative;
  padding: 25px 0;
  color: #35354A;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

header .menu .right .menu-items .main-li .main-a::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: -4px;
  right: 150%;
  height: 4px;
  background: #29ABE2;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .menu .right .menu-items .main-li .main-a:hover::before {
  right: -4px;
}

header .menu .right .menu-items .main-li .main-a .count {
  position: absolute;
  left: 100%;
  bottom: 100%;
  margin-left: -3px;
  margin-bottom: -30px;
  font-size: 12px;
  padding: 3px 8px;
  background: #ED1B23;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  line-height: 1.2;
  color: #FFF;
}

header .menu .right .menu-items .main-li .dropdown {
  width: 150px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: #FFF;
  top: 40px;
  padding: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header .menu .right .menu-items .main-li .dropdown .content {
  position: relative;
}

header .menu .right .menu-items .main-li .dropdown .content::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 0;
  background-color: #29ABE2;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

header .menu .right .menu-items .main-li .dropdown .content a {
  padding: 5px 45px 5px 25px;
  display: block;
  color: #666;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
}

header .menu .right .menu-items .main-li .dropdown .content a:hover {
  color: #29ABE2;
}

header .menu .right .menu-items .main-li .dropdown .content:hover::after {
  height: 100%;
}

#mobileHeader {
  padding: 15px 20px;
}

#mobileHeader .logo img {
  height: 40px;
}

#mobileHeader .bar {
  text-align: end;
}

#mobileHeader .bar i {
  font-size: 34px;
  color: #666;
}

@media (min-width: 992px) {
  header {
    display: block;
  }
  #mobileHeader {
    display: none;
  }
}

footer {
  background-color: #35354A;
}

footer .section {
  text-align: center;
  padding: 80px 0 60px;
  border-bottom: 2px solid #29ABE2;
}

footer .section img {
  margin-bottom: 28px;
}

footer .section p {
  font-size: 14px;
  color: #FFF;
}

footer .section h2 {
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  padding: 20px 0 30px;
}

footer .section .links ul {
  padding: 0;
}

footer .section .links ul a {
  font-size: 14px;
  color: #FFF;
  margin-bottom: 5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .section .links ul a:hover {
  color: #29ABE2;
}

footer .section i {
  padding-left: 10px;
  color: #29ABE2;
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .section i:hover {
  color: #FFF;
}

footer .copyright {
  text-align: center;
  padding: 20px;
}

footer .copyright p {
  font-size: 14px;
  color: #FFF;
  margin: 0;
}

footer .copyright p span {
  font-weight: bold;
  color: #FFF;
}

@media (min-width: 768px) {
  footer .section {
    text-align: start;
    padding: 100px 0 80px;
  }
}

#service {
  position: relative;
  padding: 80px 0 60px;
  background: url(/assets/images/service/motherboard-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
}

#service .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(53, 53, 74, 0.5)), color-stop(75%, rgba(53, 53, 74, 0.7)), to(rgba(53, 53, 74, 0.9)));
  background: linear-gradient(bottom, rgba(53, 53, 74, 0.5) 0%, rgba(53, 53, 74, 0.7) 75%, rgba(53, 53, 74, 0.9) 100%);
}

#service .title {
  position: relative;
}

#service .section-footer {
  position: absolute;
  bottom: 0;
}

#service .section-footer a {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#service .section-footer a:hover {
  color: #29ABE2;
}

#service .section-footer i {
  font-size: 12px;
  padding: 0 10px;
  color: #29ABE2;
}

#serviceRightSidebar {
  padding: 80px 0 60px;
}

#serviceRightSidebar .section .main .title-main {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}

#serviceRightSidebar .section .main img {
  margin-bottom: 20px;
}

#serviceRightSidebar .section .main p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

#serviceRightSidebar .section .main h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

#serviceRightSidebar .section .main .list {
  padding: 0;
}

#serviceRightSidebar .section .main .list li + li {
  margin-top: 5px;
}

#serviceRightSidebar .section .main .list i {
  font-size: 14px;
  color: #29ABE2;
  margin-right: 12px;
}

#serviceRightSidebar .section .main .list span {
  font-size: 14px;
  color: #666;
}

#serviceRightSidebar .section .main h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

#serviceRightSidebar .section .main table {
  font-size: 14px;
  color: #666;
}

#serviceRightSidebar .section .main table .tr-head {
  --bs-table-accent-bg: #29abe2 !important;
  color: #FFF !important;
  text-transform: uppercase;
}

#serviceRightSidebar .section .main table .tr-head th {
  font-weight: 600 !important;
}

#serviceRightSidebar .section .main table th {
  padding: 15px 20px;
  font-weight: 400;
}

#serviceRightSidebar .section .main table tr:nth-of-type(odd) {
  color: #666;
  --bs-table-accent-bg: #f7f7f7;
}

#serviceRightSidebar .section .main table tbody tr th:first-child {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

#serviceRightSidebar .section .main table tbody tr th:last-child {
  border-right: 1px solid #eee;
}

#serviceRightSidebar .section .main .links {
  text-align: end;
}

#serviceRightSidebar .section .main .links .btn-blue {
  display: inline-block;
  font-size: 13px;
  color: #FFF;
  background-color: #29ABE2;
  border: 2px solid #29ABE2;
  padding: 0 35px;
  height: 46px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#serviceRightSidebar .section .main .links .btn-blue:hover {
  background-color: #35354A;
  border: 2px solid #35354A;
  color: #FFF;
}

#serviceRightSidebar .section .main .links .btn-blue i {
  margin-right: 5px;
}

#serviceRightSidebar .section .line-border {
  border-top: 1px solid #eee;
  margin: 30px 0;
}

#serviceRightSidebar .section .share {
  text-align: end;
  font-size: 14px;
  color: #666;
  font-weight: 600;
}

#serviceRightSidebar .section .share i {
  padding-left: 10px;
  color: #29ABE2;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#serviceRightSidebar .section .share i:hover {
  color: #35354A;
}

#serviceRightSidebar .sidebar .title {
  font-size: 18px;
  color: #35354A;
  font-weight: 600;
  margin: 16px 0 20px;
}

#serviceRightSidebar .sidebar .services .service-category {
  padding: 0;
  width: 100%;
  margin: 30px auto 20px;
  background: #FFF;
  border-radius: 4px;
}

#serviceRightSidebar .sidebar .services .service-category .link {
  margin-bottom: 3px;
  background-color: #F7F7F7;
  cursor: pointer;
  display: block;
  padding: 20px 60px 20px 20px;
  color: #333;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#serviceRightSidebar .sidebar .services .service-category .link:hover {
  background-color: #29ABE2;
}

#serviceRightSidebar .sidebar .services .service-category .link:hover a {
  color: #FFF;
}

#serviceRightSidebar .sidebar .services .service-category .link a {
  color: #333;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#serviceRightSidebar .sidebar .line {
  background-color: #29ABE2;
  height: 1px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}

#serviceRightSidebar .sidebar .line::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #29ABE2;
  border-radius: 50%;
}

#serviceRightSidebar .sidebar .line::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #29ABE2;
  border-radius: 50%;
}

#serviceRightSidebar .sidebar .recent .post a {
  font-size: 14px;
  color: #333;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#serviceRightSidebar .sidebar .recent .post a:hover {
  color: #29ABE2;
}

#serviceRightSidebar .sidebar .recent .post p {
  font-size: 11.2px;
  color: #666;
}

#form {
  background: #F7F7F7;
  padding: 80px 0 60px;
}

#form .title {
  text-align: center;
}

#form .title h2 {
  color: #35354A;
}

#form .title p {
  color: #666;
  padding-top: 5px;
}

#form form input, #form form textarea {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #c2c2c2;
  outline: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#form form input:hover, #form form textarea:hover {
  border: 2px solid #29ABE2;
}

#form form input:focus, #form form textarea:focus {
  border: 2px solid #29ABE2;
}

#form form .submit {
  text-align: center;
}

#form form .submit a {
  display: inline-block;
  font-size: 13px;
  color: #FFF;
  background-color: #29ABE2;
  padding: 0 35px;
  height: 46px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#form form .submit a:hover {
  background-color: #35354A;
  color: #FFF;
}

#form form .submit span {
  color: #29ABE2;
  padding: 0 30px;
  font-size: 18px;
  font-weight: bold;
}

#form form .submit span .number {
  padding: 0;
  color: #35354A;
}

@media (min-width: 768px) {
  #service {
    padding: 100px 0 80px;
  }
  #serviceRightSidebar {
    padding: 100px 0 80px;
  }
  #serviceRightSidebar .sidebar {
    width: 300px;
  }
  #form {
    padding: 100px 0 80px;
  }
}

@media (min-width: 992px) {
  #serviceRightSidebar .section, #serviceRightSidebar .sidebar {
    padding: 0;
  }
}
/*# sourceMappingURL=service.css.map */