* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-moz-selection {
  background-color: #35354A;
  color: #FFF;
}

::selection {
  background-color: #35354A;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
}

h2 {
  font-size: 34px;
  font-weight: bold;
}

.pad-box {
  padding: 60px 0 0 20px;
}

.padding {
  padding: 20px 0 0 20px;
}

header {
  display: none;
  position: relative;
  width: 100%;
  z-index: 999;
}

header .infobar {
  background-color: #35354A;
}

header .infobar .contact {
  font-size: 11px;
  line-height: 42px;
  color: #FFF;
}

header .infobar .social i {
  font-size: 15px;
  padding-left: 20px;
  color: #FFF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .infobar .social i:hover {
  color: #29ABE2;
}

header .menu {
  padding: 15px 0;
  background-color: #FFF;
}

header .menu .logo img {
  height: 40px;
}

header .menu .right {
  position: relative;
}

header .menu .right .menu-items {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

header .menu .right .menu-items .main-li {
  position: relative;
  margin: 0 20px;
}

header .menu .right .menu-items .main-li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

header .menu .right .menu-items .main-li .main-a {
  position: relative;
  padding: 25px 0;
  color: #35354A;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

header .menu .right .menu-items .main-li .main-a::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: -4px;
  right: 150%;
  height: 4px;
  background: #29ABE2;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .menu .right .menu-items .main-li .main-a:hover::before {
  right: -4px;
}

header .menu .right .menu-items .main-li .main-a .count {
  position: absolute;
  left: 100%;
  bottom: 100%;
  margin-left: -3px;
  margin-bottom: -30px;
  font-size: 12px;
  padding: 3px 8px;
  background: #ED1B23;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  line-height: 1.2;
  color: #FFF;
}

header .menu .right .menu-items .main-li .dropdown {
  width: 150px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: #FFF;
  top: 40px;
  padding: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header .menu .right .menu-items .main-li .dropdown .content {
  position: relative;
}

header .menu .right .menu-items .main-li .dropdown .content::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 0;
  background-color: #29ABE2;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

header .menu .right .menu-items .main-li .dropdown .content a {
  padding: 5px 45px 5px 25px;
  display: block;
  color: #666;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}

header .menu .right .menu-items .main-li .dropdown .content a:hover {
  color: #29ABE2;
}

header .menu .right .menu-items .main-li .dropdown .content:hover::after {
  height: 100%;
}

#mobileHeader {
  padding: 15px 20px;
}

#mobileHeader .logo img {
  height: 40px;
}

#mobileHeader .bar {
  text-align: end;
}

#mobileHeader .bar i {
  font-size: 34px;
  color: #666;
}

@media (min-width: 992px) {
  header {
    display: block;
  }
  #mobileHeader {
    display: none;
  }
}

footer {
  background-color: #35354A;
}

footer .section {
  text-align: center;
  padding: 80px 0 60px;
  border-bottom: 2px solid #29ABE2;
}

footer .section img {
  margin-bottom: 28px;
}

footer .section p {
  font-size: 14px;
  color: #FFF;
}

footer .section h2 {
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  padding: 20px 0 30px;
}

footer .section .links ul {
  padding: 0;
}

footer .section .links ul a {
  font-size: 14px;
  color: #FFF;
  margin-bottom: 5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .section .links ul a:hover {
  color: #29ABE2;
}

footer .section i {
  padding-left: 10px;
  color: #29ABE2;
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer .section i:hover {
  color: #FFF;
}

footer .copyright {
  text-align: center;
  padding: 20px;
}

footer .copyright p {
  font-size: 14px;
  color: #FFF;
  margin: 0;
}

footer .copyright p span {
  font-weight: bold;
  color: #FFF;
}

@media (min-width: 768px) {
  footer .section {
    text-align: start;
    padding: 100px 0 80px;
  }
}

#shop {
  position: relative;
  padding: 80px 0 60px;
  background: url(/assets/images/service/tools.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
}

#shop .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(53, 53, 74, 0.5)), color-stop(75%, rgba(53, 53, 74, 0.7)), to(rgba(53, 53, 74, 0.9)));
  background: linear-gradient(bottom, rgba(53, 53, 74, 0.5) 0%, rgba(53, 53, 74, 0.7) 75%, rgba(53, 53, 74, 0.9) 100%);
}

#shop .title {
  position: relative;
}

#shop .section-footer {
  position: absolute;
  bottom: 0;
}

#shop .section-footer a {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shop .section-footer a:hover {
  color: #29ABE2;
}

#shop .section-footer i {
  font-size: 12px;
  padding: 0 10px;
  color: #29ABE2;
}

#shopRightSidebar .section {
  padding: 80px 0 60px;
}

#shopRightSidebar .section form label {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}

#shopRightSidebar .section form select {
  outline: none;
  border: none;
  cursor: pointer;
}

#shopRightSidebar .section form p {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}

#shopRightSidebar .section .products .box {
  position: relative;
  border: 1px dashed #EEE;
  padding: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .products .box:hover {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35);
}

#shopRightSidebar .section .products .box .item-lables {
  position: absolute;
  left: 20px;
  top: 20px;
}

#shopRightSidebar .section .products .box .item-lables .item-label {
  margin: 5px;
  padding: 5px 10px;
  font-size: 13px;
  color: #FFF;
  display: inline-block;
  border-radius: 3px;
  line-height: 1.2;
}

#shopRightSidebar .section .products .box .item-lables .item-label-sale {
  background-color: #ED1B23;
}

#shopRightSidebar .section .products .box .item-lables .item-label-trending {
  background-color: #29ABE2;
}

#shopRightSidebar .section .products .box .item-lables .item-label-top-seller {
  background-color: #35354A;
}

#shopRightSidebar .section .products .box .item-lables .item-label-new {
  background-color: #49CD20;
}

#shopRightSidebar .section .products .box .image img {
  width: 100%;
}

#shopRightSidebar .section .products .box .title {
  margin: 20px 0;
}

#shopRightSidebar .section .products .box .title .item-title .item-name {
  display: block;
  color: #35354A;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .products .box .title .item-title .item-name:hover {
  color: #29ABE2;
}

#shopRightSidebar .section .products .box .title .item-title .category {
  color: #999;
  font-size: 14px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .products .box .title .item-title .category:hover {
  color: #29ABE2;
}

#shopRightSidebar .section .products .box .title .item-price h3 {
  font-size: 18px;
  font-weight: bold;
}

#shopRightSidebar .section .products .box .links {
  text-align: end;
}

#shopRightSidebar .section .products .box .links .btn-blue {
  display: inline-block;
  font-size: 13px;
  color: #FFF;
  background-color: #29ABE2;
  border: 2px solid #29ABE2;
  padding: 0 25px;
  height: 38px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .products .box .links .btn-blue:hover {
  background-color: #35354A;
  border: 2px solid #35354A;
  color: #FFF;
}

#shopRightSidebar .section .products .box .links .btn-trans {
  display: inline-block;
  font-size: 13px;
  line-height: 38px;
  height: 38px;
  padding: 0 25px;
  text-transform: uppercase;
  color: #29ABE2;
  border: 2px solid #29ABE2;
  border-radius: 0;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .products .box .links .btn-trans:hover {
  border: 2px solid #35354A;
  color: #35354A;
}

#shopRightSidebar .section .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#shopRightSidebar .section .pagination a, #shopRightSidebar .section .pagination span {
  display: inline-block;
  margin: 0 5px;
  color: #666;
  padding: 0 10px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .pagination a:hover, #shopRightSidebar .section .pagination span:hover {
  color: #29ABE2;
}

#shopRightSidebar .section .pagination a.active {
  background-color: #29ABE2;
  color: #FFF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .pagination a.active:hover {
  background-color: #35354A;
}

#shopRightSidebar .section .pagination .previous, #shopRightSidebar .section .pagination .next {
  color: #29ABE2;
  border: 2px solid #29ABE2;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .section .pagination .previous:hover, #shopRightSidebar .section .pagination .next:hover {
  border: 2px solid #35354A;
  color: #35354A;
}

#shopRightSidebar .sidebar {
  padding-top: 80px;
  padding-bottom: 60px;
}

#shopRightSidebar .sidebar .title {
  font-size: 18px;
  color: #35354A;
  font-weight: bold;
  margin: 16px 0 20px;
}

#shopRightSidebar .sidebar .category .accordion {
  padding: 0;
  width: 100%;
  margin: 30px auto 20px;
  background: #FFF;
  border-radius: 4px;
}

#shopRightSidebar .sidebar .category .accordion .link {
  margin-bottom: 3px;
  background-color: #F7F7F7;
  cursor: pointer;
  display: block;
  padding: 20px 60px 20px 20px;
  color: #333;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#shopRightSidebar .sidebar .category .accordion .link:hover {
  background-color: #EEE;
}

#shopRightSidebar .sidebar .category .accordion .link:hover a {
  color: #29ABE2;
}

#shopRightSidebar .sidebar .category .accordion .link a {
  color: #333;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#shopRightSidebar .sidebar .category .accordion li i {
  position: absolute;
  top: 23px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#shopRightSidebar .sidebar .category .accordion li i:hover {
  color: #29ABE2;
}

#shopRightSidebar .sidebar .category .accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

#shopRightSidebar .sidebar .category .accordion li.open .link {
  background-color: #DDD;
}

#shopRightSidebar .sidebar .category .accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
  color: #29ABE2;
}

#shopRightSidebar .sidebar .category .submenu {
  padding: 0;
  display: none;
  font-size: 14px;
}

#shopRightSidebar .sidebar .category .submenu a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #F7F7F7;
  margin-bottom: 3px;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px 20px 20px 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#shopRightSidebar .sidebar .category .submenu a:hover {
  background: #EEE;
  color: #29ABE2;
}

#shopRightSidebar .sidebar .line {
  background-color: #29ABE2;
  height: 1px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}

#shopRightSidebar .sidebar .line::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #29ABE2;
  border-radius: 50%;
}

#shopRightSidebar .sidebar .line::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #29ABE2;
  border-radius: 50%;
}

#shopRightSidebar .sidebar .filter .price-range-slider #slider-range {
  height: 1px;
  background-color: #29ABE2;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#shopRightSidebar .sidebar .filter .price-range-slider #slider-range .ui-slider-range {
  height: 3px;
  background-color: #29ABE2;
  top: -1px;
}

#shopRightSidebar .sidebar .filter .price-range-slider #slider-range .ui-slider-handle {
  top: -7px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #FFF;
  border: 2px solid #29ABE2;
  -webkit-transition: all .2s  linear 0s;
  transition: all .2s  linear 0s;
}

#shopRightSidebar .sidebar .filter .price-range-slider #slider-range .ui-state-hover {
  border-width: 4px;
  -webkit-box-shadow: 0 1px 5px #333, 0 1px 2px #666 inset;
          box-shadow: 0 1px 5px #333, 0 1px 2px #666 inset;
}

#shopRightSidebar .sidebar .filter .price-range-slider .price {
  margin-top: 10px;
  font-size: 13px;
}

#shopRightSidebar .sidebar .filter .price-range-slider .price .amount {
  font-family: 'Montserrat' , sans-serif;
}

@media (min-width: 768px) {
  #shop {
    padding: 100px 0 80px;
  }
  #shopRightSidebar .section {
    padding: 100px 0 80px;
  }
  #shopRightSidebar .sidebar {
    width: 300px;
    padding: 100px 0 80px;
  }
}

@media (min-width: 992px) {
  #shopRightSidebar .section form .showing {
    text-align: end;
  }
  #shopRightSidebar .sidebar h4 {
    padding-left: 0;
  }
}
/*# sourceMappingURL=shop.css.map */